body {

    margin: 0;
    padding: 0;

    overflow: hidden;

    background-image: url("/assets/img/fundo_perfil.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: "Cinzel", serif;
}

.perfil-container {

    width: 100vw;
    height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;
}

.livro-perfil {

    position: relative;

    width: 80vw;

    aspect-ratio: 1200 / 750;

    font-size: clamp(0.8rem, 2.2vw, 2.2rem);

    background-image: url("/assets/img/openbook.png");

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* ================================= */
/* TÍTULO */
/* ================================= */

.perfil-titulo {

    position: absolute;

    top: 16.7%;
    left: 19%;

    color: #2b1708;

    margin: 0;

    font-size: clamp(0.8rem, 2.2vw, 2.2rem);
}

/* ================================= */
/* AVATAR */
/* ================================= */

/* ================================= */
/* NOME */
/* ================================= */

.nome-usuario {

    position: absolute;

    top: 36.4%;
    left: 26.5%;

    color: #2b1708;

    font-size: clamp(0.5rem, 1.3vw, 1.3rem);

    font-weight: bold;
}

/* ================================= */
/* EMAIL */
/* ================================= */

.email-usuario {

    position: absolute;

    top: 39.3%;
    left: 26.5%;

    font-size: clamp(0.5rem, 1.2vw, 1rem);

    color: #2b1708;
}

/* ================================= */
/* MODULO */
/* ================================= */

.modulo-container {

    position: absolute;

    top: 50.7%;
    left: 15.8%;

    color: #2b1708;

    font-size: clamp(0.8rem, 1.5vw, 1.8rem);
}

#capituloAtual {

    font-weight: 700;
}

.label {
    font-weight: bold;
}

/* ================================= */
/* CONFIGURAÇÕES */
/* ================================= */

.config-titulo {

    position: absolute;

    top: 16.7%;
    left: 58%;

    color: #2b1708;

    margin: 0;

    font-size: clamp(1rem, 2.2vw, 2.5rem);
}

/* ================================= */
/* MÚSICA */
/* ================================= */

.texto-musica {

    position: absolute;

    top: 37.3%;
    left: 54.2%;

    color: #2b1708;

    font-size: clamp(0.8rem, 1.4vw, 1.6rem);

    font-weight: bold;
}

#toggleMusica {

    position: absolute;

    top: 36%;
    left: 81.7%;
}

/* ================================= */
/* EFEITOS */
/* ================================= */

.texto-efeitos {

    position: absolute;

    top: 48%;
    left: 54.2%;

    color: #2b1708;

    font-size: clamp(0.8rem, 1.4vw, 1.6rem);

    font-weight: bold;
}

#toggleEfeitos {

    position: absolute;

    top: 46.7%;
    left: 81.7%;
}

/* ================================= */
/* TOGGLES */
/* ================================= */

.toggle-audio {

    width: clamp(18px, 2.5vw, 35px);
    height: clamp(18px, 2.5vw, 35px);

    cursor: pointer;

    background: #2ECC71;
    border: 2px solid #168042;

    border-radius: 40%;

    transition: all 0.2s ease;
}

/* DESATIVADO */

.toggle-audio.desativado {

    background: #462817;

    border: 2px solid #996B0F;
}

/* ================================= */
/* BOTÃO ADM */
/* ================================= */

.botao-dev {

    position: absolute;

    bottom: 18.3%;
    left: 15%;

    width: clamp(15px, 8vw, 250px);
    height: clamp(15px, 8vw, 250px);

    padding: 0;

    border: none;
    background: transparent;

    cursor: pointer;

    transition: transform 0.2s ease;
}

.botao-dev-img {

    width: 100%;
    height: 100%;

    object-fit: contain;

    display: block;
        user-select: none;
    -webkit-user-select: none;
}

.botao-dev:hover {

    transform: scale(1.05);
}

.botao-dev:active {

    transform: scale(0.95);
}

.avatar-container {

    position: absolute;

    top: 26.5%;
    left: 14.8%;

    width: 12%;

    aspect-ratio: 1 / 1;
}

.avatar-imagem {

    position: absolute;

    top: 18%;
    left: 18%;

    width: 60%;
    height: 60%;

    background: #ffffff;

    border-radius: 8%;
}

.avatar-moldura {

    position: absolute;

    inset: 0;
      top: -40%;
    left: -40%;

    width: 180%;
    height: 180%;

    object-fit: contain;

    image-rendering: pixelated;

    pointer-events: none;
        user-select: none;
    -webkit-user-select: none;
}
